<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <style>
        img {
            width: 25%;
            height: 25%;
        }
    </style>
</head>
<body>
    {{> header}}
    <main>
        <h1>{{title}}</h1>
        <img src="rosyMapleMoth.png" alt="picture of a rosy maple moth stolen from the internet"/>
        <p>The Dryocampa rubicunda, or rosy maple moth is a beautiful 
            moth native to North America. It belogs to the family 
            Saturniidae known colloquially as the great silk moths. 
            They are well known for their bright yellow and pink coloring. 
        </p>
        <p>Please visit our documents page to view our library of pdfs!</p>
    </main>

    {{> footer}}
</body>
</html>

